.CountryDetail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2rem;
    width: 70vw;
    background: #fff;
    border-radius: 10px;

}

.CountryDetail h1{
    font-weight: bold;
    margin-bottom: 4rem;
}

.CountryDetail h5{
    font-size: 1.3rem;
    font-weight: bold;
}

.CountryDetail ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.CountryDetail ul li {
    margin-bottom: .5rem;
}
